asgiref==3.8.1
certifi==2024.8.30
Django==5.1.4
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
djoser==2.3.1
Pillow==11.0.0
python-decouple==3.8
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
sqlparse==0.5.3
urllib3==2.2.3
whitenoise==6.9.0
psycopg2-binary==2.9.10
drf-nested-routers==0.94.1
